<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AWSProfileName" value="punch-scraped-data"/>
    <add key="AWSAccessKey" value="AKIAI3KYDUSZW33VU3BQ"/>
    <add key="AWSSecretKey" value="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"/>
  </appSettings>
</configuration>