<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AWSProfileName" value="punch-scraped-data"/>
    <add key="AWSAccessKey" value="AKIAI3KYDUSZW33VU3LQ"/>
    <add key="AWSSecretKey" value="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"/>
  </appSettings>
 
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>